.osmArea{
    background-color: white;
    border-radius: 6px;
    resize: none;
    height: 120px;
}
.osmLabel{
    color: white;
    font-size: large;
}
.skillsCont{
    position: relative;
}
.osmRight{
    position: absolute;
    right: 0 !important;
    bottom: 0;
}
.wocAddBtnContainer{
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .osmRight{
        position: relative;
    }
}