<mat-card *ngIf='isPersonalData' class="example-card" >
  <mat-card-header>
    <mat-card-title style="color:white">{{title}}</mat-card-title>
    <!-- <mat-card-subtitle style="color:white">Car no: {{driver.id}}</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="http://denicdamjan.ddns.net:8080/users/driver/picture" alt="Cab"> -->
  <mat-card-content>
    <div  class='info-container' >
     <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 4cm;"><span style="color:white;">ID:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.userID}}</span></div></div>
     <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 4cm;"><span style="color:white;">First name:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.licniPodaci.ime}}</span></div></div>
     <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 4cm;"><span style="color:white;">Last name:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.licniPodaci.prezime}}</span></div></div>
     <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 4cm;"><span style="color:white;">Date of birth:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.licniPodaci.datumRodjenja}}</span></div></div>
     <div style="margin-bottom: 0.6cm; "> <div style="float: left; margin-right: 1cm; width: 4cm;"><span style="color:white;">Parents name:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.licniPodaci.imeRoditelja}}</span></div></div>
     
     <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 4cm;"><span style="color:white; font-size: large;">Contact</span></div></div>
     <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 4cm;"><span style="color:white;">Telephone number:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.kontakt.telefon}}</span></div></div>
     <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 4cm;"><span style="color:white;">Email:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.email}}</span></div></div>
     <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 4cm;"><span style="color:white;">LinkedIn:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.kontakt.linkedIn}}</span></div></div>

    <!---- <div style="margin-bottom: 0.3cm;"><span style="color:white">First name: {{data.licniPodaci.ime}}</span></div>
     <div style="margin-bottom: 0.3cm;"> <span style="color:white">Last name: {{data.licniPodaci.prezime}}</span></div>
     <div style="margin-bottom: 0.3cm;"><span style="color:white">Date of birth: {{data.licniPodaci.datumRodjenja}}</span></div>
     <div style="margin-bottom: 0.3cm;"> <span style="color:white">Parents name: {{data.licniPodaci.imeRoditelja }}</span></div>
     <div style="margin-bottom: 0.3cm;"> <span style="color:white">Last name: {{data.licniPodaci.prezime}}</span></div>
     <div style="margin-bottom: 0.3cm;"> <span style="text-indent: 15px; line-height: 3; color:white">Contact</span></div>
     <div style="margin-bottom: 0.3cm;"> <span style="color:white">Telephone number: {{data.kontakt.telefon}}</span></div>
     <div style="margin-bottom: 0.3cm;"> <span style="color:white">Email: {{data.email}}</span></div>
     <div style="margin-bottom: 0.3cm;"> <span style="color:white">LinkedIn: {{data.kontakt.linkedIn}}</span></div> -->
    <!---- <img mat-card-image src="{{project.image}}">	-->
    </div>
  </mat-card-content>

</mat-card>

    
    <mat-card *ngIf='isPermanentResidence' class="example-card1" >
      <mat-card-header>
        <mat-card-title style="color:white">{{title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
    <div  class='info-container'>
     <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 2cm;"><span style="color:white;">Adress:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.prebivaliste.adresa}}</span></div></div>
     <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 2cm;"><span style="color:white;">City:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.prebivaliste.grad}}</span></div></div>
     <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 2cm;"><span style="color:white;">County:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.prebivaliste.drzava}}</span></div></div>

      <!-- <span style="color:white">Adress: {{data.prebivaliste.adresa}}</span>
      <span style="color:white">City: {{data.prebivaliste.grad}}</span>
      <span style="color:white">County: {{data.prebivaliste.drzava}}</span> -->
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf='isResidence' class="example-card2" >
  <mat-card-header>
    <mat-card-title style="color:white">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div  class='info-container'>
      <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 2cm;"><span style="color:white;">Adress:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.boraviste.adresa}}</span></div></div>
      <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 2cm;"><span style="color:white;">City:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.boraviste.grad}}</span></div></div>
      <div style="margin-bottom: 0.3cm; "> <div style="float: left; margin-right: 1cm; width: 2cm;"><span style="color:white;">County:</span></div><div style="float: left;"><span style="color: white; font-weight: 550;">{{data.boraviste.drzava}}</span></div></div>
    <!----  <span style="color:white">Adress: {{data.prebivaliste.adresa}}</span>
      <span style="color:white">City: {{data.prebivaliste.grad}}</span>
      <span style="color:white">County: {{data.prebivaliste.drzava}}</span> -->
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf='isHighSchoolEducation' class="example-card3" >
  <mat-card-header>
    <mat-card-title style="color:white">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div  class='info-container'>
      <mat-accordion *ngFor="let skola of data.srednjeObrazovanje">
        <mat-expansion-panel style="background-color: #CDE5F5; margin-bottom: 10px;" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title >
              Name: {{skola.naziv}}<br>
              Type: {{skola.tip}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          Course: {{skola.smer}}<br>
          City: {{skola.grad}}<br>
          County: {{skola.drzava}}<br>
          Finishing Year: {{skola.godinaZavrsetka}}
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf='isHigherEducation' class="example-card4" >
  <mat-card-header>
    <mat-card-title style="color:white">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div  class='info-container'>
      <mat-accordion *ngFor="let faks of data.visokoObrazovanje">
        <mat-expansion-panel style="background-color: #CDE5F5; margin-bottom: 10px;" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title >
              Name: {{faks.fakultet}}<br>
              Course: {{faks.smer}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          ESPB: {{faks.espb}}<br>
          Number of Finished Subjects: {{faks.godineStudija}}<br>
          Starting Year: {{faks.godinaUpisa}}<br>
          Year: {{faks.godineStudija}}<br>
          Grade average: {{faks.prosek}}<br>
          Satus: {{faks.status}}<br>
          University: {{faks.univerzitet}}<br>
          City: {{faks.grad}}<br>
          County: {{faks.drzava}}<br>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
  <!--
    <mat-card-actions>
      <button mat-raised-button (click)="onclick()">Go to details</button>
    </mat-card-actions>
  -->
</mat-card>
