.personalDataCard {
    background-color:white;
    margin: 10px;
  }

  .residenceCard {
    background-color:white;
    margin: 10px;
  }

  .highSchoolCard {
    background-color:white;
    margin: 10px;
  }

  .higherEducationCard {
    background-color:white;
    margin: 10px;
  }

  .ExperienceCard {
    background-color:white;
    margin: 10px;
  }

  .lngAndCompCard {
    background-color:white;
    margin: 10px;
  }

  .skillCard {
    background-color:white;
    margin: 10px;
  }

  .pesonalDetails {
    display: flex;
    flex-direction: row;  
  }

  .info-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    
  }

  pre{
    font-family: Roboto,Helvetica Neue,sans-serif; 
    font-size: 15px;
  }

  .data {
    font-weight: 550;
  }
  .header {
    width: 30%;
  }

  table{
    table-layout: fixed;
  }

  .defaultProfileImg {
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 20px;
    flex: 1;
  }

.personalDataSpacing {
  margin-bottom: 2%; 
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start;
}

.residenceDataSpacing {
  margin-bottom: 1%; 
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start;

}

.educationDataSpacing {
  margin-bottom: 1%; 
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start;
}

.btnReturn {
  position: absolute;
  background-color: #0596F4;
}

.btnDownloadCV {
  width: 50%;
  margin-left: 0%;
  margin-top: 10%;
  background-color: #0596F4;
  color: white;
}

mat-card{
  background-color: #0172BC;
}