<mat-card *ngIf='isPersonalData' class="personalDataCard">
  <mat-card-header>
    <!--
      <mat-card-title style="color:white">ID: {{data.userID}}</mat-card-title>
      <button mat-mini-fab class="btnReturn" (click)="onReturn()"><mat-icon>keyboard_backspace</mat-icon></button>
      <div style="margin-top: 0.5%; margin-left: 2%;"></div> 
    -->
    <mat-card-title style="color:#0172BC">
      <div>{{title}}</div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="pesonalDetails">
      <div class="info-container">
        <table>
          <tr>
            <td class="header">First name:</td>
            <td class="data">{{data.licniPodaci.ime}}</td>
          </tr>
          <tr>
            <td class="header">Last name:</td>
            <td class="data">{{data.licniPodaci.prezime}}</td>
          </tr>
          <tr>
            <td class="header">Date of birth:</td>
            <td class="data">{{data.licniPodaci.datumRodjenja}}</td>
          </tr>
          <tr>
            <td class="header">Parents name:</td>
            <td class="data">{{data.licniPodaci.imeRoditelja}}</td>
          </tr>
        </table>
        <div class="personalDataSpacing">
        </div>
        <div class="personalDataSpacing">
          <div style="display: flex; flex-grow: 2;"><span style="color:#0172BC; font-size: large;">Contact</span></div>
        </div>
        <table>
          <tr>
            <td class="header">Telephone number:</td>
            <td class="data">{{data.kontakt.telefon}}</td>
          </tr>
          <tr>
            <td class="header">Email:</td>
            <td class="data">{{data.email}}</td>
          </tr>
          <tr>
            <td class="header">LinkedIn:</td>
            <td class="data">{{data.kontakt.linkedIn}}</td>
          </tr>
        </table>
        <button mat-raised-button class="btnDownloadCV" (click)="onDownloadCV()" [disabled]="downloadDisabled">Download
          CV</button>
      </div>
      <div class="defaultProfileImg">
        <img mat-card-image [src]="picPath" alt="'Profile pic'">
      </div>
    </div>

  </mat-card-content>
</mat-card>

<mat-card *ngIf="isPermanentResidence" class="residenceCard">
  <mat-card-header>
    <mat-card-title style="color:#0172BC">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-container">
      <table>
        <tr>
          <td class="header">Adress:</td>
          <td class="data">{{data.prebivaliste.adresa}}</td>
        </tr>
        <tr>
          <td class="header">City:</td>
          <td class="data">{{data.prebivaliste.grad}}</td>
        </tr>
        <tr>
          <td class="header">County:</td>
          <td class="data">{{data.prebivaliste.drzava}}</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isResidence" class="residenceCard">
  <mat-card-header>
    <mat-card-title style="color:#0172BC">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-container">
      <table>
        <tr>
          <td class="header">Adress:</td>
          <td class="data">{{data.boraviste.adresa}}</td>
        </tr>
        <tr>
          <td class="header">City:</td>
          <td class="data">{{data.boraviste.grad}}</td>
        </tr>
        <tr>
          <td class="header">County:</td>
          <td class="data">{{data.boraviste.drzava}}</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isHighSchoolEducation" class="highSchoolCard">
  <mat-card-header>
    <mat-card-title style="color:#0172BC">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-container">
      <mat-accordion *ngFor="let skola of data.srednjeObrazovanje">
        <mat-expansion-panel style="background-color: #CDE5F5; margin-bottom: 10px;" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
              <mat-panel-title>
                <pre>Name: </pre> <pre style="font-weight: 550;">{{skola.naziv}}</pre>
              </mat-panel-title>
              <mat-panel-title>
                <pre>Type: </pre> <pre style="font-weight: 550;">{{skola.tip}}</pre>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tr>
              <td class="header">Profile:</td>
              <td class="data">{{skola.smer}}</td>
            </tr>
            <tr>
              <td class="header">City:</td>
              <td class="data">{{skola.grad}}</td>
            </tr>
            <tr>
              <td class="header">County:</td>
              <td class="data">{{data.prebivaliste.drzava}}</td>
            </tr>
            <tr>
              <td class="header">Finishing Year:</td>
              <td class="data">{{skola.godinaZavrsetka}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isHigherEducation" class="higherEducationCard">
  <mat-card-header>
    <mat-card-title style="color:#0172BC">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-container">
      <mat-accordion *ngFor="let faks of data.visokoObrazovanje">
        <mat-expansion-panel style="background-color: #CDE5F5; margin-bottom: 10px;" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <pre>Name: </pre> <pre style="font-weight: 550;">{{faks.fakultet}}</pre>
            </mat-panel-title>
            <mat-panel-title>
              <pre>Profile: </pre> <pre style="font-weight: 550;">{{faks.smer}}</pre>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <table>
            <tr>
              <td class="header">Year:</td>
              <td class="data">{{faks.godineStudija}}</td>
            </tr>
            <tr>
              <td class="header">ESPB:</td>
              <td class="data">{{faks.espb}}</td>
            </tr>
            <tr>
              <td class="header">Finished Subjects:</td>
              <td class="data">{{faks.brojPolozenihIspita}}</td>
            </tr>
            <tr>
              <td class="header">Starting Year:</td>
              <td class="data">{{faks.godinaUpisa}}</td>
            </tr>
            <tr>
              <td class="header">Grade average:</td>
              <td class="data">{{faks.prosek}}</td>
            </tr>
            <tr>
              <td class="header">Satus:</td>
              <td class="data">{{faks.status}}</td>
            </tr>
            <tr>
              <td class="header">University:</td>
              <td class="data">{{faks.univerzitet}}</td>
            </tr>
            <tr>
              <td class="header">City:</td>
              <td class="data">{{faks.grad}}</td>
            </tr>
            <tr>
              <td class="header">County:</td>
              <td class="data">{{faks.drzava}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
<!------------------------------------------------------------------------------->
<mat-card *ngIf="isWorkExperience" class="ExperienceCard">
  <mat-card-header>
    <mat-card-title style="color:#0172BC">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-container">
      <mat-accordion *ngFor="let rad of data.iskustvo.radnoIskustvo">
        <mat-expansion-panel style="background-color: #CDE5F5; margin-bottom: 10px;" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <pre>Company: </pre> <pre style="font-weight: 550;">{{rad.kompanija}}</pre>
            </mat-panel-title>
            <mat-panel-title>
              <pre>Function: </pre> <pre style="font-weight: 550;">{{rad.funkcija}}</pre>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tr>
              <td class="header">Start date:</td>
              <td class="data">{{rad.datumPocetka}}</td>
            </tr>
            <tr>
              <td class="header">End date:</td>
              <td class="data">{{rad.datumZavrsetka}}</td>
            </tr>
            <tr>
              <td class="header">Description:</td>
              <td class="data">{{rad.opis}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>

<!------------------------------------------------------------------------------->
<mat-card *ngIf="isInternshipExperience" class="ExperienceCard">
  <mat-card-header>
    <mat-card-title style="color:#0172BC">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-container">
      <mat-accordion *ngFor="let strucno of data.iskustvo.strucnoUsavrsavanje">
        <mat-expansion-panel style="background-color: #CDE5F5; margin-bottom: 10px;" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <pre>Name: </pre> <pre style="font-weight: 550;">{{strucno.naziv}}</pre>
            </mat-panel-title>
            <mat-panel-title>
              <pre>Organizer: </pre> <pre style="font-weight: 550;">{{strucno.organizator}}</pre>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tr>
              <td class="header">Start date:</td>
              <td class="data">{{strucno.datumPocetka}}</td>
            </tr>
            <tr>
              <td class="header">End date:</td>
              <td class="data">{{strucno.datumZavrsetka}}</td>
            </tr>
            <tr>
              <td class="header">Description:</td>
              <td class="data">{{strucno.opis}}</td>
            </tr>
            <tr>
              <td class="header">Certificate:</td>
              <td class="data">{{strucno.sertifikat}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>

<!------------------------------------------------------------------------------->
<mat-card *ngIf="isComputerSkills" class="lngAndCompCard">
  <mat-card-header>
    <mat-card-title style="color:#0172BC">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-container">
      <mat-accordion *ngFor="let kompjuter of data.iskustvo.radNaRacunaru">
        <mat-expansion-panel style="background-color: #CDE5F5; margin-bottom: 10px;" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <pre>Name: </pre> <pre style="font-weight: 550;">{{kompjuter.naziv}}</pre>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tr>
              <td class="header">Level:</td>
              <td class="data">{{kompjuter.nivo}}</td>
            </tr>
            <tr>
              <td class="header">Certificate:</td>
              <td class="data">{{kompjuter.sertifikat}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>

<!------------------------------------------------------------------------------->
<mat-card *ngIf="isProjectWork" class="ExperienceCard">
  <mat-card-header>
    <mat-card-title style="color:#0172BC">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-container">
      <mat-accordion *ngFor="let projekat of data.iskustvo.radNaProjektu">
        <mat-expansion-panel style="background-color: #CDE5F5; margin-bottom: 10px;" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <pre>Name: </pre> <pre style="font-weight: 550;">{{projekat.naziv}}</pre>
            </mat-panel-title>
            <mat-panel-title>
                <pre>Role: </pre> <pre style="font-weight: 550;">{{projekat.uloga}}</pre>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="display: flex; flex-direction: column;">
            <table>
              <tr>
                <td class="header">Start date:</td>
                <td class="data">{{projekat.datumPocetka}}</td>
              </tr>
              <tr>
                <td class="header">End date:</td>
                <td class="data">{{projekat.datumZavrsetka}}</td>
              </tr>
              <tr>
                <td class="header">Description:</td>
                <td class="data">{{projekat.opis}}</td>
              </tr>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>

<!------------------------------------------------------------------------------->
<mat-card *ngIf="isLanguages" class="lngAndCompCard">
  <mat-card-header>
    <mat-card-title style="color:#0172BC">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-container">
      <mat-accordion *ngFor="let jezici of data.iskustvo.poznavanjeJezika">
        <mat-expansion-panel style="background-color: #CDE5F5; margin-bottom: 10px;" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <pre>Language: </pre> <pre style="font-weight: 550;">{{jezici.jezik}}</pre>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div style="display: flex; flex-direction: column;">
            <table>
              <tr>
                <td class="header">Reading level:</td>
                <td class="data">{{jezici.nivoCitanja}}</td>
              </tr>
              <tr>
                <td class="header">Writing level:</td>
                <td class="data">{{jezici.nivoPisanja}}</td>
              </tr>
              <tr>
                <td class="header">Understanding level:</td>
                <td class="data">{{jezici.nivoRazumevanja}}</td>
              </tr>
              <tr>
                <td class="header">Speaking level:</td>
                <td class="data">{{jezici.nivoGovora}}</td>
              </tr>
              <tr>
                <td class="header">Certificate:</td>
                <td class="data">{{jezici.sertifikat}}</td>
              </tr>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>

<!------------------------------------------------------------------------------->

<mat-card *ngIf="isOtehrSkills" class="skillCard">
  <mat-card-header>
    <mat-card-title style="color:#0172BC">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-container">

      <mat-accordion *ngFor="let skills of data.iskustvo.ostaleVestine">
        <table>
          <tr>
            <td class="header">Skills:</td>
            <td class="data">{{skills.vestine}}</td>
          </tr>
          <tr>
            <td class="header">Drivers licence:</td>
            <td class="data">{{skills.vestine}}</td>
          </tr>
          <tr>
            <td class="header">My personality traits:</td>
            <td class="data">{{skills.osobine}}</td>
          </tr>
          <tr>
            <td class="header">Personal interests:</td>
            <td class="data">{{skills.interesovanja}}</td>
          </tr>
        </table>
      </mat-accordion>
    </div>

  </mat-card-content>
</mat-card>