.App {
  text-align: center;
}
.appContainer{
  margin-bottom: 0;
  background-color:  #144173 !important;
  min-height: 100vh;
  color: white;
}
.levo{
  padding: 0 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  
}
.desno{
  position: relative;
  height: 100% !important;
}
.modal::-webkit-scrollbar{
  background-color: #144173;
  border-radius: 6px;
  filter: blur(0px) !important;
  display: none;
  position: relative;
}
.modal {
  background-color: #144173;
  border-radius: 6px;
  filter: blur(0px) !important;
  -ms-overflow-style: none;
}
#modal1{
  min-height: 70%;
}
.modalHeaderContainer{
  text-align: center;
}
.cancelBtn{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5%;
  right: 5%;
}
.bestLogo{
  height: 60px;
  width: 120px;
  float: right;
  margin-bottom: 10px;
}
#expModal{
  margin-top: 50px;
}
.emAddBtn{
  position: absolute;
  top: 30px;
  left: 40px;
}
.expAddBtn{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#expModal .addBtnContainer{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.modal3Container{
  text-align: center;
 
}
.yesBtn{
  position: absolute;
  left: 0;
}
.noBtn{
  position: absolute;
  right: 0;
}
.yesNoContainer{
  position: relative;
  margin-top: 30px;
}
#modal3{
  min-height: 30%;
}

@media only screen and (max-width: 600px){
  .levo{
    display: none;
  }
}
