.cpHome{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    right: 40px;
}
.changePassContainer{
    position: relative;
    padding: 10% !important;
}
.cpHeaderContainer{
    text-align: center !important;
}
/*Q-question*/
.changePassH{
    font-size: 40px;
}
.cpLabel{
    font-size: x-large;
}
.changePassBtnContainer{
    text-align: center !important;
    margin-top: 50px; 
}