.ddBtn{
    width: 100%;
    text-align: left;
    background-color: white !important;
    color: black !important ;
}
.dd li{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.dd{
    border-radius: 6px;
}