.input{
    border: 5px !important;
    border-color: white;
    background-color: white !important;
    border-radius: 6px !important;
    padding-left: 10px !important;
}
.label{
    color: white;
    font-size: large;
}