<div *ngIf="isReady" class="cards">
    <div style="padding-top: 0.5%;">
    <app-user-card [title]="'Personal Data'" [type]="'personalData'" [data]="data" >
    </app-user-card>

    </div>

    <div class = "flexRow">
        <app-user-card [title]="'Permanent Residence'" [type]="'permanentResidence'" [data]="data" class ="subject" >
        </app-user-card>

        <app-user-card [title]="'Temporary Residence'" [type]="'residence'" [data]="data" class ="subject">
        </app-user-card>
    </div>

    <div class = "flexRow">
        <app-user-card [title]="'High School Education'" [type]="'highSchoolEducation'" [data]="data" class ="subject">
        </app-user-card>

        <app-user-card [title]="'Higher Education'" [type]="'higherEducation'" [data]="data" class ="subject">
        </app-user-card>
    </div>
</div>