<div *ngIf="isReady && !isNewUserDetails" class="cards" >
    <div style="padding-top: 0.5%;">
    <app-user-card [title]="'Personal Data'" [type]="'personalData'" [data]="data" >
    </app-user-card>

    </div>

    <div class = "flexRow">
        <app-user-card [title]="'Permanent Residence'" [type]="'permanentResidence'" [data]="data" class ="subject" >
        </app-user-card>

        <app-user-card [title]="'Temporary Residence'" [type]="'residence'" [data]="data" class ="subject">
        </app-user-card>
    </div>

    <div class = "flexRow">
        <app-user-card [title]="'High School Education'" [type]="'highSchoolEducation'" [data]="data" class ="subject">
        </app-user-card>

        <app-user-card [title]="'Higher Education'" [type]="'higherEducation'" [data]="data" class ="subject">
        </app-user-card>
    </div>
</div>

<div *ngIf="isReady && isNewUserDetails" class="cards" >
    <mat-tab-group>
        <mat-tab label="Personal Data" class="tabStyle">
            <app-user-card [title]="'Personal Data'" [type]="'personalData'" [data]="data" >
            </app-user-card>

            <div class = "flexRow">
                <app-user-card [title]="'Permanent Residence'" [type]="'permanentResidence'" [data]="data" class ="subject" >
                </app-user-card>
        
                <app-user-card [title]="'Temporary Residence'" [type]="'residence'" [data]="data" class ="subject">
                </app-user-card>
            </div>
        </mat-tab>
        <mat-tab label="Education" class="tabStyle">
            <app-user-card [title]="'High School Education'" [type]="'highSchoolEducation'" [data]="data" class ="subject">
            </app-user-card>
    
            <app-user-card [title]="'Higher Education'" [type]="'higherEducation'" [data]="data" class ="subject">
            </app-user-card>
        </mat-tab>
        <mat-tab label="Experience" class="tabStyle">
            <app-user-card [title]="'Work experience'" [type]="'workExperience'" [data]="data" class ="subject">
            </app-user-card>
            <app-user-card [title]="'Internship experience'" [type]="'internshipExperience'" [data]="data" class ="subject">
            </app-user-card>
            <app-user-card [title]="'Computer skills'" [type]="'computerSkills'" [data]="data" class ="subject">
            </app-user-card>
            <app-user-card [title]="'Worked on projects'" [type]="'projectsWork'" [data]="data" class ="subject">
            </app-user-card>
            <app-user-card [title]="'Knowledge of foreign languages'" [type]="'languages'" [data]="data" class ="subject">
            </app-user-card>
            <app-user-card [title]="'Other skills'" [type]="'otherSkills'" [data]="data" class ="subject">
            </app-user-card>
        </mat-tab>
      </mat-tab-group>
</div>