.tabGroup {
    z-index: 0;
}

.cards {
    align-items:  center;
    justify-content:  center;
    background-color: #B5D6EB;
    height: 100%;
}

.flexRow {
    display: flex;
    flex-direction: row;
   
}

.subject {
    flex-grow: 1;
}


