.tabGroup {
    z-index: 0;
}

.cards {
    align-items:  center;
    justify-content:  center;
}

.flexRow {
    display: flex;
    flex-direction: row;
   
}

.subject {
    flex-grow: 1;
}

.btnFavourited {
    background-color: #0596F4;
}
