<div class="dashboard">
  <div style="padding-top: 0.5%;">
  <div class="infoDesk">
    <mat-card>
      <div class="containerRow">
        <div class="leftColumnG2">
          <mat-card-content>
            <span style="font-size: medium;">
           <p style="margin-bottom: 1%;"> Wecome to <b>CV Book</b> developed by BEST Nis.</p> 
           <p> This Web Aplication is used for browsing registerd users in our CV database.
            This database is part of our "JobFair" project where students from different fields of study and expertise
            can leave their information and CV's for possible job or internship opportunities.</p> <p>This aplication gives your company the opportunity
            to browse our CV database and to find and pick the best qualified potential future employees much faster and more efficiently.</p>
           <p> We wish you best of luck and we hope that we will be seeing you at next JobFair.</p>
           <p> Best Regards, BEST Nis.</p>
            
            Current number of users who left their data <span style="font-size: larger;"><b>{{totalUsersData}}</b></span>.
            </span>
          </mat-card-content>
          <button mat-raised-button class="btnCVOverview" (click)="toCVOverview()" >CV overview</button>
        </div>
        <div class="rightColumnG1">
          <div class="containerColumn">
            <div class="leftRowG1">
              <img mat-card-image src="assets/BESTnis.png" alt="'BEST Nis Logo'">
            </div>
            <div class="leftRowG1"> 
              <img mat-card-image src="assets/JobFair20.png" alt="'JF20 Logo'">
            </div>
          </div>
        </div>
      </div>
      <!--
      <mat-card-actions>

      </mat-card-actions>-->
    </mat-card>
  </div>
</div>
  <div class="containerRow">
    <div class="leftColumnG2">
      <mat-card>
        <app-basiccolumnchart *ngIf="isReady" [barChartData]="barChartData" [barChartLabels]="barChartLabels">
        </app-basiccolumnchart>
      </mat-card>
    </div>

    <div class="rightColumnG1">
      <mat-card>
        <app-piechart *ngIf="isReady" [pieChartLabels]="pieChartLabels" [pieChartData]="pieChartData">
        </app-piechart>
      </mat-card>
    </div>
  </div>
</div>


