<div class="dashboard">
  <div style="padding-top: 0.5%;">
  <div class="infoDesk">
    <mat-card>
      <div class="containerRow">
        <div class="leftColumnG2">
          <mat-card-content>
            <span style="font-size: medium;">
            Wecome to <b>CV Book</b> developed by BEST Nis.
            This Web Aplication is used for browsing registerd users in CV database.
            Current number of users who left their data <span style="font-size: larger;"><b>{{totalUsersData}}</b></span>.
            </span>
          </mat-card-content>
        </div>
        <div class="rightColumnG1">
          <div class="containerColumn">
            <div class="leftRowG1">
              <img mat-card-image src="assets/BESTnis.png" alt="'BEST Nis Logo'">
            </div>
            <div class="leftRowG1"> 
              <img mat-card-image src="assets/JobFair20.png" alt="'JF20 Logo'">
            </div>
          </div>
        </div>
      </div>
      <mat-card-actions>
        <button mat-raised-button (click)="toCVOverview()" >CV overview</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
  <div class="containerRow">
    <div class="leftColumnG2">
      <mat-card>
        <app-basiccolumnchart *ngIf="isReady" [barChartData]="barChartData" [barChartLabels]="barChartLabels">
        </app-basiccolumnchart>
      </mat-card>
    </div>

    <div class="rightColumnG1">
      <mat-card>
        <app-piechart *ngIf="isReady" [pieChartLabels]="pieChartLabels" [pieChartData]="pieChartData">
        </app-piechart>
      </mat-card>
    </div>
  </div>
</div>


