.dashboard {
    background-color: #B5D6EB;
}

.infoDesk {
    margin: 20px;
}

.containerRow {
    display: flex;
    flex-direction: row;
}

.leftColumnG2 {
    margin: 20px;
    flex-grow: 2;
}

.rightColumnG1 {
    margin: 20px;
    flex-grow: 1;
}

.containerColumn {
    display: flex;
    flex-direction: column;
    direction: rtl;
}

.leftRowG1 {
    margin: 10px;
    margin-right: 30px;
    flex-grow: 0.2;
    width: 40%;
}

.btnCVOverview {
    color: white;
    background-color: #0596F4;
}
