.dashboard {
    background-color: gainsboro;
}

.infoDesk {
    margin: 20px;
}

.containerRow {
    display: flex;
    flex-direction: row;
}

.leftColumnG2 {
    margin: 20px;
    flex-grow: 2;
}

.rightColumnG1 {
    margin: 20px;
    flex-grow: 1;
}

.containerColumn {
    display: flex;
    flex-direction: column;
}

.leftRowG1 {
    margin: 10px;
    flex-grow: 1;
}
