<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav " fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Navigation</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active" (click)="drawer.toggle()">Dashboard</a>
      <a mat-list-item routerLink="cvoverview" routerLinkActive="active" (click)="drawer.toggle()">CV overview</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="dashboard" routerLinkActive="active">
        <div>
          <span>CV Book</span>
          <mat-icon aria-label="Logo">library_books</mat-icon>
          <!-- <mat-icon aria-label="Logo">local_taxi</mat-icon> -->
        </div>
      </a>
      <div class="logout-container">
        <a class="logout" (click)="onLogout()">
          <span>Logout</span>
        </a>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>