<div class="container">
  <div class="fixed">
    <app-filter></app-filter>
  </div>
  <div class="expand-container">
    <div class="containerRow">
      <!--
        <div class="btnReturnDiv">
          <button mat-mini-fab class="btnReturn" (click)="onReturn()"><mat-icon>keyboard_backspace</mat-icon></button>
        </div>
      -->
      <div class="paginatorDiv">
        <mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="pageIndex" [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
    <div class="flex-item">
      <mat-accordion displayMode="flat" multi class="mat-table">
        <section matSort #sort class="mat-elevation-z2 mat-header-row">
          <span class="mat-header-cell" mat-sort-header="ime">First Name</span>
          <span class="mat-header-cell" mat-sort-header="prezime">Last Name</span>
          <span class="mat-header-cell" mat-sort-header="prosek">Faculty</span>
          <span class="mat-header-cell" mat-sort-header="fakultet">Average Grade</span>
        </section>
        <div *ngFor="let user of displayedRows$ | async;">
          <app-user-expansion [user]="user" [displayedRows$]="displayedRows$" >
          </app-user-expansion>
        </div>
      </mat-accordion>
    </div>
    <mat-paginator (page)="syncPrimaryPaginator($event)" [pageSize]="paginator.pageSize"
      [pageIndex]="paginator.pageIndex" [length]="paginator.length" [pageSizeOptions]="paginator.pageSizeOptions">
    </mat-paginator>
  </div>
</div>